
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_PartialView.cshtml";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-11 col-md-6">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4 text-uppercase">Quên mật khẩu</h1>
                                </div>
                                @using (Html.BeginForm(FormMethod.Post, new { @class = "user row" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group col-12">
                                        <div>
                                            <span class="fw-bold">Email</span>
                                            <span class="text-danger">(*)</span>
                                        </div>
                                        <input name="email" class="form-control form-control-user border-none rounded" type="email" placeholder="Nhập địa chỉ email"/>
                                        @Html.ValidationMessage("error","",new {@class="text-danger"})
                                    </div>
                                    <div class="form-group col-12 mb-0">
                                        <div class="row justify-content-center">
                                            <button type="submit" class="btn btn-warning btn-user btn-block col-6">Gửi yêu cầu</button>
                                        </div>
                                    </div>
                                }
                                <hr />
                                <div class="text-center">
                                    <a class="small" href="login">Quay lại trang Đăng nhập</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="register">Quay lại trang Đăng ký</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

