
@{
    
    ViewData["Title"] = "Hình ảnh";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row mb-2 w-100">
    <ul class="ps-2" id="breadcrumbs">
        <li class="text-uppercase"><a href="/admin">Trang chủ</a></li>
        <li class="text-uppercase fw-bold"><a class="active">Hình ảnh</a></li>
    </ul>
</div>
<div class="row py-2 px-4 w-100">
    <div class="col-2 flex-column cursor-pointer my-2">
        <a href="Detail?imageType=1" class="text-dark text-decoration-none">
            <img src="~/img/folder.jpg" style="height:200px;width:100%;" />
            <p class="fw-bold text-center">Logo</p>
        </a>
    </div>
    <div class="col-2 flex-column cursor-pointer my-2">
        <a href="Detail?imageType=2" class="text-dark text-decoration-none">
            <img src="~/img/folder.jpg" style="height:200px;width:100%;" />
            <p class="fw-bold text-center">Slider</p>
        </a>
    </div>
    <div class="col-2 flex-column cursor-pointer my-2">
        <a href="Detail?imageType=3" class="text-dark text-decoration-none">
            <img src="~/img/folder.jpg" style="height:200px;width:100%;" />
            <p class="fw-bold text-center">Banner</p>
        </a>
    </div>
    <div class="col-2 flex-column cursor-pointer my-2">
        <a href="Detail?imageType=4" class="text-dark text-decoration-none">
            <img src="~/img/folder.jpg" style="height:200px;width:100%;" />
            <p class="fw-bold text-center">Sticket</p>
        </a>
    </div>
</div>