
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul id="breadcrumbs" class="mb-2">
    <li><a>Trang chủ</a></li>
</ul>
<div class="container-fluid">
    <div class="row">
    </div>
</div>

