@model KGQT.Models.tbl_ShippingOrder
@using KGQT.Commons
@{
    ViewData["Title"] = "Thêm đơn";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ul id="breadcrumbs" class="mb-2">
    <li><a href="/admin/home">Trang chủ</a></li>
    <li><a href="/admin/Package/Index">Kiện</a></li>
    <li><a>Thêm đơn</a></li>
</ul>
<div class="container bg-white py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
            <h1 class="text-primary text-uppercase fw-bold">Thêm đơn</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
            <form method="post" action="Create" id="frmShip">
                <div class="form-group mb-4">
                    <label class="required" for="txtShipID">Tài khoản khách hàng:</label>
                    <input type="text" class="form-control" id="txtUserName" name="Username" placeholder="Nhập tài khoản khách hàng">
                </div>
                <div class="form-group mb-4">
                    <label class="required" for="txtShipID">Mã vận đơn</label>
                    <input type="text" class="form-control" id="txtPackage" name="PackageCode" placeholder="Nhập mã vận đơn" onblur="addPackage()">
                </div>
                <div class="form-group mb-2">
                    <label class="required mb-0 text-primary fw-bold">Phương thức vận chuyển</label>
                </div>
                <div class="form-group mb-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="movingfast" name="MovingMethod" value="1">
                        <label class="form-check-label" for="movingfast">Nhanh</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="movingslow" name="MovingMethod" value="2">
                        <label class="form-check-label" for="movingslow">Chậm</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="movingofficial" name="MovingMethod" value="3">
                        <label class="form-check-label" for="movingofficial">Chính ngạch</label>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label class="mb-0">Kho</label>
                </div>
                <div class="form-group mb-4">
                    <select class="form-control" name="WareHouse">
                        <option value="1">Đông Quản</option>
                        <option value="2">Phật Sơn</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label class="mb-0 text-primary fw-bold">Dịch vụ</label>
                </div>
                <div class="form-group mb-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="IsWoodPackage" id="cbPack">
                        <label class="form-check-label" for="cbPack">Đóng gỗ</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="IsAirPackage" id="cbAirbag">
                        <label class="form-check-label" for="cbAirbag">Túi khí</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="IsInsurance" id="cbInsurance" onchange="showhideDeclare(this)">
                        <label class="form-check-label" for="cbInsurance">Bảo hiểm</label>
                    </div>
                </div>
                <div class="form-group mb-4" id="renderPackages"></div>
                <div id="frmDeclare" style="display:none">
                    <div class="form-group mb-2">
                        <label class="required mb-0 text-primary fw-bold">Kê khai</label>
                    </div>
                    <div class="form-group mb-4">
                        <label>Link sản phẩm</label>
                        <input type="text" class="form-control" name="Declaration">
                    </div>
                    <div class="form-group mb-4">
                        <label>Giá</label>
                        <input type="text" class="form-control" name="DeclarePrice" onkeyup="format(this)">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="reset" class="btn btn-danger mr-4">Nhập lại</button>
                    <button type="button" class="btn btn-success" onclick="insert()">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#txtPackage').off('keypress').on('keypress', function (e) {
            if (e.which == 13)
                addPackage();
        });
        $('#txtUserName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/admin/Package/getaccount',
                    type: 'GET',
                    data: {
                        s: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 3,
            delay: 500,
            select: function (event, ui) {
                $(this).val(ui.item.username);
                return false;
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<div>" + item.username + " - " + item.email + "</div>")
                .appendTo(ul);
        };;
    });
    function addPackage() {
        const ip = $('#txtPackage').val();
        if (ip) {
            $.ajax({
                url: '/admin/Package/CheckPackage',
                type: 'GET',
                data: { package: ip },
                // other AJAX options here
                success: function (result) {
                    if (result) {
                        helper.showErr('Kiện đã tồn tại!');
                    }
                },
                error: function (xhr, status, err) {
                    // error handling
                }
            });
        } else {
            helper.showErr('Vui lòng nhập mã kiện!');
        }
    }

    function showhideDeclare(o) {
        if (!$(o).is(':checked'))
            $('#frmDeclare').css('display', 'none');
        else
            $('#frmDeclare').css('display', 'block');
    }

    function insert() {
        var data = helper.form2Object($('#frmShip').serializeArray());

        if (!data.Username) {
            helper.showErr('Vui lòng nhập tài khoản khách hàng!');
            return
        }

        if (!data.PackageCode) {
            helper.showErr('Vui lòng nhập mã kiện!');
            return
        }

        if (!data.MovingMethod) {
            helper.showErr('Hãy chọn loại vận chuyển!');
            return
        }
        if (!data.WareHouse) {
            helper.showErr('Hãy chọn kho TQ nhập hàng!');
            return
        }
        if (data.IsInsurance) {
            if (!data.Declaration || !data.DeclarePrice) {
                helper.showErr('Vui lòng kê khai thông tin để tính phí bảo hiểm!');
                return;
            }
        }

        if (data.DeclarePrice) {
            data.DeclarePrice = $('input[name="DeclarePrice"]').data('value');
        }

        $.ajax({
            url: '/admin/Package/Create',
            type: 'POST',
            data: { form: data },
            // other AJAX options here
            success: function (result) {
                if (!result)
                    helper.showErr('Tạo đơn lỗi!')
                else
                    helper.showSuc('Tạo đơn thành công!')
            },
            error: function (xhr, status, err) {
                // error handling
            }
        });
    }

    function format(e) {
        helper.getChange(e)
    }
</script>
