@{
    ViewData["Title"] = "Kiện";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ul id="breadcrumbs" class="mb-2">
    <li><a href="/">Trang chủ</a></li>
    <li><a>Kiện</a></li>
</ul>
<section class="h-100 gradient-custom">
    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-10 col-md-10 col-sm-12">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-body p-4">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="txtPackage">Nhập/Quét kiện</label>
                                <input type="text" class="form-control" id="txtPackage" placeholder="Quét mã kiện hoặc nhập 3 số cuối" onkeydown="debounce(packageOnChange,1000)">
                            </div>
                        </div>
                        <!--Start::Thông tin kiện-->
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="lead fw-normal mb-0 text-primary text-uppercase">Danh sách Kiện</h3>
                        </div>
                        <div class="row flex-column" id="listOutput"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#txtPackage').focus();
    });

    function packageOnChange() {
        var text = $('#txtPackage').val()
        if (!text) return;
        $.ajax({
            url: '/admin/package/scanpackage',
            type: 'get',
            data: { str: text },
            // other AJAX options here
            success: function (result) {
                if (result && result.length) {
                    var buffer = '';
                    var template = $("#Template").html();
                    result.forEach(function (arrayElement) {
                        var data = arrayElement;
                        buffer += eval('`' + template + '`');
                    });
                    $("#listOutput").html(buffer);
                    $('#txtPackage').val('').focus();
                }
            },
            error: function (xhr, status, err) {
                // error handling
            }
        });
    };
</script>

<script type="text/template" id="Template">
    <div class="card shadow-0 border mb-4">
        <div class="card-body p-2">
           <div class="row">
            <div class="col-md-2 align-self-center">
                <div class="col-md-12 text-center d-flex justify-content-center align-items-center">
                    <h2 class="text-danger mb-0"><a href="/admin/package/details?id=${data.id}">${data.packageCode}</a></h2>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4 text-center d-flex justify-content-center align-items-center flex-column">
                        <div class="row"> Cân nặng:  &nbsp; <strong class="text-muted mb-0"> ${data.weight || 0}</strong></div>
                        <div class="row"> Qui đổi:  &nbsp; <strong class="text-muted mb-0"> ${data.weightExchange || 0}</strong></div>
                    </div>
                    <div class="col-md-4 text-center d-flex justify-content-center align-items-center flex-column">
                        <div class="row">
                            Đóng gỗ:  &nbsp; <strong class="text-muted mb-0"> ${data.woodPackageWeight || 0}</strong>
                        </div>
                        <div class="row"> Qui đổi:  &nbsp; <strong class="text-muted mb-0"> ${data.woodPackageWeightExchange || 0}</strong></div>
                    </div>
                    <div class="col-md-4 text-center d-flex justify-content-center align-items-center flex-column">
                        <div class="row">
                            Bọt khí:  &nbsp; <strong class="text-muted mb-0"> ${data.airPackageWeight || 0}</strong>
                        </div>
                        <div class="row"> Qui đổi:  &nbsp; <strong class="text-muted mb-0"> ${data.airPackageWeightExchange || 0}</strong></div>
                    </div>
                </div>
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                        Phí cân nặng:  &nbsp;<p class="text-muted mb-0"> ${data.WeightPrice || 0}</p>
                    </div>
                    <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                        Phí Đóng gỗ:  &nbsp;<p class="text-muted mb-0">${data.WoodPackagePrice || 0}</p>
                    </div>
                    <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                        Phí bọt khí:  &nbsp;<p class="text-muted mb-0"> ${data.WeightPrice || 0}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
</script>