
@{
    ViewData["Title"] = "Chi tiết bảng giá";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container-fluid h-100">
    <div class="row mb-2">
        <ul id="breadcrumbs">
            <li><a href="/Home/Dashboard">Trang chủ</a></li>
            <li><a href="/Service/Index">Bảng giá</a></li>
            <li><a class="active">Chi tiết</a></li>
        </ul>
    </div>
    <div class="row border p-4">
        <div class="col-12 border-bottom py-1">
            <h5 class="fw-bold text-danger m-0">BẢNG GIÁ</h5>
        </div>
        <div class="col-12">
            <div>
                <b>1. Gói vận chuyển</b>
            </div>
            <div>
                <div>
                    <span class="font-italic">
                        a.Gói bay thường: Đơn hàng sẽ mặc định chọn vận chuyển nhanh (từ 3 - 6 ngày)
                    </span>
                </div>
                <div class="my-2">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr class="bg-primary">
                                <th colspan="2">
                                    <h5 class="text-center text-white">GÓI BAY NHANH</h5>
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Từ 1-39kg
                                </td>
                                <td class="text-center">
                                    63.000
                                    <sup>đ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</sup>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Từ 40-99kg
                                </td>
                                <td class="text-center">
                                    63.000
                                    <sup>đ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</sup>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Từ 100-140kg
                                </td>
                                <td class="text-center">
                                    63.000
                                    <sup>đ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</sup>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bg-warning p-3">
                    <span><b>Lưu ý:</b></span>
                    <span>Không nhận pin, chất lỏng, bột, hàng quốc tế, hàng y tế, fake, hàng hiệu..</span>
                </div>
            </div>

            <div class="mt-5">
                <div>
                    <span class="font-italic">
                        a.Gói bay thường (từ 5 - 10 ngày)
                    </span>
                </div>
                <div class="my-2">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr class="bg-primary">
                                <th colspan="2">
                                    <h5 class="text-center text-white">GÓI BAY THƯỜNG</h5>
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Từ 1-39kg
                                </td>
                                <td class="text-center">
                                    48.000
                                    <sup>đ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</sup>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Từ 40-99kg
                                </td>
                                <td class="text-center">
                                    47.000
                                    <sup>đ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</sup>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Từ 100-140kg
                                </td>
                                <td class="text-center">
                                    46.000
                                    <sup>đ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</sup>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bg-warning p-3">
                    <span><b>Lưu ý:</b></span>
                    <span>Không nhận pin, chất lỏng, bột, hàng quốc tế, hàng y tế, fake, hàng hiệu..</span>
                </div>
            </div>
        </div>
    </div>
</div>

