 
@{
    ViewData["Title"] = "Nạp tiền";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<ul id="breadcrumbs" class="mb-2">
    <li><a href="#">Nạp tiền</a></li>
</ul>
<div class="row bg-white px-4">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row py-2">
            <h4 class="text-primary text-uppercase fw-bold p-0">NẠP TIỀN</h4>
            <p class="m-0 p-0"><span class="text-danger">(*)&nbsp</span>Quý khách hàng vui lòng chuyển khoản vào các tài khoản của hệ thống.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 border">
                <div class="d-flex justify-content-center">
                    <img src="~/img/bank-vietcombank.jpg" width="300" height="400" />
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning d-flex" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                            <div>
                                <p class="mb-0"><b>Lưu ý:</b></p>
                                <p class="mb-0">- Nội dung chuyển khoản VND chỉ ghi tên zalo hoặc tên chủ tài khoản.</p>
                                <p class="mb-0">- KHÔNG ghi tệ, RMB, alipay, taobao, wechat, thanh toán hộ, mua hàng, tiền phí bảo hiểm,…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 border">
                <div class="d-flex justify-content-center">
                    <img src="~/img/bank-ACB.jpg" width="300" height="400" />
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning d-flex" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                            <div>
                                <p class="mb-0"><b>Lưu ý:</b></p>
                                <p class="mb-0">- Nội dung chuyển khoản VND chỉ ghi tên zalo hoặc tên chủ tài khoản.</p>
                                <p class="mb-0">- KHÔNG ghi tệ, RMB, alipay, taobao, wechat, thanh toán hộ, mua hàng, tiền phí bảo hiểm,…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-lg-12 col-md-12 col-sm-12 m-0 p-0">
                <p>
                    <span class="text-danger">(*)</span>
                    <b>Quý khách vui lòng chuyển đúng cú pháp để hệ thống duyệt tiền tự động.</b>
                </p>
                <p>
                    <span class="text-danger">(*)</span>
                    <b>Với những giao dịch nạp tiền chuyển khoản ngoài giờ hành chính. Thời gian nạp vào hệ thống có thể chậm hơn bình thường. Mong quý khách hàng thông cảm!</b>
                </p>
            </div>
        </div>
    </div>
</div>

