@using System.Web;
 
@{
    ViewData["Title"] = "Nạp tiền";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    string qr1 = $"https://img.vietqr.io/image/vietcombank-1024148679-print.jpg?addInfo=NAP {ViewBag.userName}&accountName=NGUYEN THI MY NGA";
    string qr2 = $"https://img.vietqr.io/image/acb-33738077-print.jpg?addInfo=NAP {ViewBag.userName}&accountName=LE TRI DUNG";
}
<ul id="breadcrumbs" class="mb-2">
    <li><a href="/Home/Dashboard">Trang chủ</a></li>
    <li><a href="/Transaction/Index">Giao dịch</a></li>
    <li><a class="active">Nạp tiền</a></li>
</ul>
<div class="row bg-white px-4">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row py-2">
            <h4 class="text-primary text-uppercase fw-bold p-0">NẠP TIỀN</h4>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 border">
                <div class="d-flex justify-content-center">
                    <img src="~/img/bank-vietcombank.jpg" width="300" height="400" />
                   @* <img src="@qr1" class="w-100" />*@
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning d-flex" role="alert">
                            <i class="fas fa-exclamation-triangle icon-16 mr-2"></i>
                            <div>
                                <p class="mb-0"><b>Lưu ý:</b></p>
                                <p class="mb-0">- Nội dung chuyển khoản VND chỉ ghi tên zalo hoặc tên chủ tài khoản.</p>
                                <p class="mb-0">- KHÔNG ghi tệ, RMB, alipay, taobao, wechat, thanh toán hộ, mua hàng, tiền phí bảo hiểm,…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 border">
                <div class="d-flex justify-content-center">
                    <img src="~/img/bank-ACB.jpg" width="300" height="400" />
                    @*<img src="@qr2" class="w-100" />*@

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning d-flex" role="alert">
                            <i class="fas fa-exclamation-triangle icon-16 mr-2"></i>
                            <div>
                                <p class="mb-0"><b>Lưu ý:</b></p>
                                <p class="mb-0">- Nội dung chuyển khoản VND chỉ ghi tên zalo hoặc tên chủ tài khoản.</p>
                                <p class="mb-0">- KHÔNG ghi tệ, RMB, alipay, taobao, wechat, thanh toán hộ, mua hàng, tiền phí bảo hiểm,…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-lg-12 col-md-12 col-sm-12 m-0 p-0">
                <p>
                    <span class="text-warning">(*)</span>
                    <b>Quý khách vui lòng chuyển đúng cú pháp để hệ thống duyệt tiền tự động.</b>
                </p>
                <p>
                    <span class="text-warning">(*)</span>
                    <b>Với những giao dịch nạp tiền chuyển khoản ngoài giờ hành chính. Thời gian hệ thống xử lý có thể chậm hơn bình thường. Mong quý khách hàng thông cảm!</b>
                </p>
            </div>
        </div>
    </div>
</div>

