
@{
    ViewData["Title"] = "Nạp tiền";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<ul id="breadcrumbs" class="mb-2">
    <li><a href="#">Nạp tiền</a></li>
</ul>
<div class="row bg-white px-4">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row py-2">
            <h4 class="text-primary text-uppercase fw-bold p-0">NẠP TIỀN</h4>
            <p class="m-0 p-0"><span class="text-danger">(*)&nbsp</span>Quý khách hàng vui lòng chuyển khoản vào các tài khoản của hệ thống.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 border">
                <div class="d-flex justify-content-center border-bottom">
                    <img src="~/img/bank-vietcombank.jpg" width="200" height="80" />
                </div>
                <div class="d-flex justify-content-center">
                    <img src="~/img/test-qr_code.png" width="300" height="300"/>
                </div>
                <div class="row">
                    <div class="col-12 mb-2"><span>-&nbspSTK:&nbsp<b>0123456789</b></span></div>
                    <div class="col-12 mb-2"><span>-&nbspChủ TK:&nbsp<b>NGUYỄN VĂN B</b></span></div>
                    <div class="col-12 mb-2"><span>-&nbspNội dung chuyển khoản ghi rõ:</span></div>
                    <div class="col-12">
                        <div class="alert alert-info" role="alert" style="font-size: 15px;background: #eff9fd!important">
                            <p class="text-primary m-0">
                                <b>NAPTIEN</b>
                                <span>-</span>
                                <b>Tài khoản</b>
                                <span>-</span>
                                <b>Số tiền</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 border">
                <div class="d-flex justify-content-center border-bottom">
                    <img src="~/img/bank-vietinbank.jpg" width="200" height="80" />
                </div>
                <div class="d-flex justify-content-center">
                    <img src="~/img/test-qr_code.png" width="300" height="300" />
                </div>
                <div class="row">
                    <div class="col-12 mb-2"><span>-&nbspSTK:&nbsp<b>0123456789</b></span></div>
                    <div class="col-12 mb-2"><span>-&nbspChủ TK:&nbsp<b>NGUYỄN VĂN B</b></span></div>
                    <div class="col-12 mb-2"><span>-&nbspNội dung chuyển khoản ghi rõ:</span></div>
                    <div class="col-12">
                        <div class="alert alert-info" role="alert" style="font-size: 15px;background: #eff9fd!important">
                            <p class="text-primary m-0">
                                <b>NAPTIEN</b>
                                <span>-</span>
                                <b>Tài khoản</b>
                                <span>-</span>
                                <b>Số tiền</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-lg-12 col-md-12 col-sm-12 m-0 p-0">
                <p>
                    <span class="text-danger">(*)</span>
                    <b>Quý khách vui lòng chuyển đúng cú pháp để hệ thống duyệt tiền tự động.</b>
                </p>
                <p>
                    <span class="text-danger">(*)</span>
                    <b>Với những giao dịch nạp tiền chuyển khoản ngoài giờ hành chính. Thời gian nạp vào hệ thống có thể chậm hơn bình thường. Mong quý khách hàng thông cảm!</b>
                </p>
            </div>
        </div>
    </div>
</div>

