@model KGQT.Models.tbl_Withdraw
@{
    ViewData["Title"] = "Nạp tiền";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul id="breadcrumbs" class="mb-2">
    <li><a href="/admin/home">Trang chủ</a></li>
    <li><a href="/admin/transaction/Index">Quản lý giao dịch</a></li>
    <li class="active">Thêm lệnh nạp tiền</li>
</ul>

<div class="container bg-white py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
            <h1 class="text-primary text-uppercase fw-bold">Thêm lệnh nạp tiền</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
            <form method="post" action="Create" id="frmShip">
                <div class="form-group mb-4">
                    <label class="required" for="txtShipID">Tài khoản khách hàng:</label>
                    <input type="text" class="form-control" id="txtUserName" name="Username" placeholder="Nhập tài khoản khách hàng">
                </div>
                <div class="form-group mb-4">
                    <label class="required" for="sltPaymentMethod">Ngân hàng:</label>
                    <select class="form-control" name="PaymentMethod" id="sltPaymentMethod" onchange="pmtChanged(this)">
                        <option>----Chọn hình thức nạp tiền----</option>
                        <option value="1">Tiền mặt</option>
                        <option value="2">Chuyển khoản</option>
                    </select>
                </div>

                <div id="transfer" class="d-none">
                    <div class="form-group mb-2">
                        <label class="mb-0 text-primary fw-bold">Thông tin chuyển khoản</label>
                    </div>
                    <div class="form-group mb-4">
                        <label class="required" for="txtBank">Ngân hàng:</label>
                        <input type="text" class="form-control" id="txtBank" name="BankName" placeholder="Nhập ngân hàng">
                    </div>
                    <div class="form-group mb-4">
                        <label class="required" for="txtBank">Chủ tài khoản:</label>
                        <input type="text" class="form-control" id="txtAccountName" name="AccountName" placeholder="Nhập ngân hàng">
                    </div>
                    <div class="form-group mb-4">
                        <label class="required" for="txtBank">Số tài khoản:</label>
                        <input type="text" class="form-control" id="txtAccountNumber" name="AccountNumber" placeholder="Nhập ngân hàng">
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="required" for="txtAmount">Số tiền</label>
                    <input type="text" class="form-control" id="txtAmount" name="Amount" placeholder="Nhập số tiền" onkeyup="format(this)">
                </div>
                <div class="form-group mb-4">
                    <label class="required" for="txtShipID">Nội dung</label>
                    <textarea class="form-control" id="txtNote" name="Note" placeholder="Nhập số tiền"></textarea>
                </div>

                <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                    <button type="reset" class="btn btn-danger mr-4">Nhập lại</button>
                    <button type="button" class="btn btn-success" onclick="insert()">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#txtUserName').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/admin/WithDraw/AutoComplete',
                    type: 'GET',
                    data: {
                        s: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 3,
            delay: 500,
            select: function (event, ui) {
                $(this).val(ui.item.username);
                return false;
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<div>" + item.username + " - " + item.email + "</div>")
                .appendTo(ul);
        };;
    });

    function pmtChanged(e) {
        let v = $(e).find(":selected").val();
        if (v == 2)
            $('#transfer').removeClass('d-none');
        else
            $('#transfer').addClass('d-none');
    }

    function insert() {
        var data = helper.form2Object($('#frmShip').serializeArray());

        if (!data.Username) {
            helper.showErr('Vui lòng nhập tài khoản khách hàng!');
            return
        }

        if (!data.Amount) {
            helper.showErr('Vui lòng nhập số tiền!');
            return;
        }

        if (!data.Amount)
            data.DeclarePrice = $('input[name="DeclarePrice"]').data('value');

        //  data.PaymentMethod = $('#pmtChanged').find(":selected").val();
        if (!data.PaymentMethod == 2) {
            helper.showErr('Vui lòng nhập hình thức nạp!');
            return
        }

        if (data.PaymentMethod == 2) {
            if (!data.BankName || !data.AccountNumber || !data.AccountName)
                helper.showErr('Vui lòng nhập thông tin chuyển khoản!');
            return;
        }

        $.ajax({
            url: '/admin/WithDraw/Insert',
            type: 'POST',
            data: { model: data },
            // other AJAX options here
            success: function (result) {
                if (!result)
                    helper.showErr('Tạo lệnh lỗi!')
                else
                    helper.showSuc('Tạo lệnh thành công!')
            },
            error: function (xhr, status, err) {
                // error handling
            }
        });
    }

    function format(e) {
        helper.getChange(e)
    }
</script>