@using KGQT.Models.temp;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var sUser = Context.Session.GetString("US_LOGIN");
    UserLogin user = null;
    if (!string.IsNullOrEmpty(sUser))
    {
        user = JsonConvert.DeserializeObject<UserLogin>(sUser);
    }
}
<style>
    .card {
        border-radius: 20px;
        background: #ffffff;
        box-shadow: 10px 10px 10px #bebebe, -15px -15px 15px #ffffff;
    }
</style>
<ul id="breadcrumbs" class="mb-2">
    <li><a>Trang chủ</a></li>
</ul>

<div class="row p-4">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">ĐƠN HÀNG</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-primary stretched-link" href="/Package/Index">Xem chi tiết</a>
                <div class="small text-primary"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">VÍ CÁ NHÂN</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-primary stretched-link" href="#">Xem chi tiết</a>
                <div class="small text-primary"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body text-uppercase">TÀI KHOẢN</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-primary stretched-link" href="/Account/Info">Xem chi tiết</a>
                <div class="small text-primary"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body text-uppercase">THÔNG BÁO</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-primary stretched-link" href="#">Xem chi tiết</a>
                <div class="small text-primary"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

