@model KGQT.Models.temp.UserLogin
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul id="breadcrumbs" class="mb-2">
    <li><a>Trang chủ</a></li>
</ul>
    <div class="row">
        <h1>Dashboard</h1>
    </div>

