@model IEnumerable<KGQT.Models.tbl_FeeWeight>
@{
    ViewData["Title"] = "Phí vận chuyển";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid h-100">
    <div class="row mb-2">
        <ul id="breadcrumbs">
            <li><a href="/">Cấu hình</a></li>
            <li><a>Phí vận chuyển</a></li>
        </ul>
    </div>
    <div class="row bg-white p-2">
        <div class="col-12 ">
            <div class="d-flex align-items-center justify-content-between">
                <div class="text-start">
                    <h5 class="text-danger text-uppercase m-0">PHÍ VẬN CHUYỂN</h5>
                </div>
                <div class="d-flex align-items-center justify-content-end py-2">
                    <a class="btn btn-success" href="create">Thêm mới</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr class="font-weight-normal">
                        <th scope="col">ID</th>
                        <th scope="col">Cân nặng</th>
                        <th scope="col">Giá tiền</th>
                        <th scope="col">Gói vận chuyển</th>
                        <th scope="col">Thao tác</th>

                    </tr>
                </thead>
                <tbody class="h-100 overflow-auto">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.ID
                            </td>
                            <td>
                                <span>@("Từ " + item.WeightFrom + " đến " + item.WeightTo + "kg")</span>
                            </td>
                            <td>
                                @string.Format("{0:N0}",item.Amount != null ? item.Amount : 0).Replace(",", ".")
                                <sup>đ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</sup>
                            </td>
                            <td>
                                @switch(item.Type)
                                {
                                    case 1:
                                        <span>Tuyến bay nhanh</span>
                                        break;
                                    case 2:
                                        <span>Tuyến bay thường</span>
                                        break;
                                    case 3:
                                        <span>Tuyến bộ</span>
                                        break;
                                    case 4:
                                        <span>Tuyến lô</span>
                                        break;
                                    case 5:
                                        <span>Tuyến biển</span>
                                        break;
                                }
                            </td>
                            <td>
                                <a class="text-primary" asp-action="index" asp-route-id="@item.ID">
                                    <i class="far fa-edit"></i>
                                    <span>Xem</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

