/*Start:Admin root*/
.* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    --text-color: #888;
    --text-hover: #444;
}

.cursor-pointer:hover {
    cursor: pointer !important;
}

.w-50px {
    width: 50px !important;
}

.h-50px {
    height: 50px !important;
}

.w-100px {
    width: 100px !important;
}

.h-100px {
    height: 100px !important;
}
.fw-bold {
    font-weight: bold;
}

/*End:Admin root*/

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #fff !important;
}

.logo_img {
    width: 80%;
    height: 80%;
}

.asside_admin {
    background: #FFFFFF !important;
}

.asside-item {
    white-space: normal !important;
    text-transform: uppercase;
    background-color: transparent !important;
    color: #444 !important;
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: #DDDDDD;
}

.asside-item[data-toggle="collapse"]::after {
    width: 0rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    content: '\f107';
    color: #888;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

.asside-item[data-toggle="collapse"].collapsed::after {
    width: 0rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    content: '\f105';
    color: #888;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid #FDF6F0 !important;
}

.nav-item:hover .asside-item:hover {
    color: #444 !important;
}

.form-control:focus {
    box-shadow: none;
}


.pass_icon {
    position: absolute;
    right: 15px;
    bottom: 12px;
}

.r-20px {
    right: 20px;
}


