@model IEnumerable<KGQT.Models.tbl_Notification>;
@foreach (var item in Model)
{
    <a class="dropdown-item d-flex align-items-center h-100px" href="#">
        <div class="mr-3">
            @if (item.NotifType == 1)
            {
                <div class="icon-circle bg-tracking-blue">
                    <i class="fas fa-file-alt text-white"></i>
                </div>
            }
            else if (item.NotifType == 2 || item.NotifType == 3)
            {
                <div class="icon-circle bg-tracking-orange">
                    <i class="fas fa-donate text-white"></i>
                </div>
            }
            else
            {
                <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                </div>
            }

        </div>
        <div>
            <div>
                @Html.Raw(item.Message)
            </div>

            <div class="small text-gray-500">@item.CreatedDate.Value.ToString("dd/MM/yyyy")</div>
        </div>
    </a>
}