@{
    ViewData["Title"] = "Quy tắc nhận thông báo Zalo";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<ul id="breadcrumbs">
    <li><a href="/admin/package">Trang chủ</a></li>
    <li><a class="active">Quy tắc OA</a></li>
</ul>
<div class="row p-2">
    <div class="col-lg-12 mt-4">
        <h2 class="fw-bold text-primary text-uppercase">Quy tắc nhận thông báo của Zalo</h2>
    </div>
</div>
<div class="row px-4">
    <div class="col-lg-12 mt-4">
        <span>Để nhận thông báo từ nhanshiphang. Quý khách phải thực hiện các quy tắc sau:</span>
        <ul>
            <li>
                Khách hàng sử dụng app zalo bấm vào nút quan tâm OA
                <a target="_blank" href="https://zalo.me/1977119545826967396" class="txt-nsh2">Nhận Ship Hàng - nhanshiphang.vn</a>.
            </li>
            <li>
                Sau khi bấm quan tâm <span class="txt-nsh2">Nhận Ship Hàng - nhanshiphang.vn</span> quý khách sẽ nhận được thông báo yêu cầu cung cấp thông tin. Khách hàng bấm vào hình để cung cấp thêm thông tin: sdt, họ tên, địa chỉ,...
                <p class="mb-1">Lưu ý: </p>
                <p class="mb-1"> - Bắt buộc sdt cung cấp phải khớp với sdt khi tạo tài khoản ở <a target="_blank" href="/Account/Info">tracking.nhanshiphang.vn</a>.</p>
                <p class="mb-1"> - Khi đã khớp thông tin thì mới nhận được thông báo cho đơn hàng.</p>
            </li>
            <li>
                <p>Để không bị bỏ lỡ các thông báo quan trọng khách hàng phải có tương tác với OA trong vòng 7 ngày.</p>
                <h5 class="text-nsh2">Định nghĩa Tương tác</h5>
                <ul>
                    <li> Gửi tin nhắn đến OA.</li>
                    <li> Chấp nhận cuộc gọi từ OA.</li>
                    <li> Nhấn nút Nhắn tin tại trang OA profile.</li>
                    <li> Nhấn biểu tượng hoặc nút Gọi OA.</li>
                    <li> Nhấn menu Tương tác nhanh hoặc Menu Dịch vụ chứa giá trị oa.query.</li>
                </ul>
            </li>
        </ul>


    </div>
</div>